<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gen">Category</a>
        <a href="/lead">Leaderboards</a>
      </nav>
    </div>
    
    <div class="container">
      <div class="profile-card">
        <a href="https://www.facebook.com/carljoseph.sunga">
          <img src="/images/cj.jpg" alt="Profile Picture">
        </a>
        <h4>Carl Joseph Sunga</h4>
        <div class="divider"></div>
        <div class="info">
          <p>202201910</p>
          <p>BSIT 3G</p>
          <p>21 yrs old</p>
          <p>December 20,2002</p>
          <p>Malabon City</p>
        </div>
      </div>
      
      <div class="profile-card">
       <a href="https://www.facebook.com/HarryPotterRF"> <img src="/images/ray.jpg" alt="Profile Picture"></a>
        <h4>Raynier D. Frayres</h4>
        <div class="divider"></div>
        <div class="info">
          <p>202201161</p>
          <p>BSIT 3G</p>
          <p>20 yrs old</p>
          <p>September 27,2004</p>
          <p>Navotas City</p>
        </div>
      </div>
    </div>
  </body>
</html>
