<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gen">Category</a>
        <a href="/lead">Leaderboards</a>
      </nav>
    </div>
    
    <h1>Welcome User!</h1>
    <div class="container">
    <div class="text">
  
      <h3><P>Anime & Manga Quiz  !</P></h3>
        </div>
      </div>
       
      <a href="/gen"><button type="button" class="button"><span>Start Now!</span></button></a>
    
    
    
  </body>

</html>
